body{
    margin: 0;
    border: solid white 0px;
    background-color:honeydew;
}

h1{
    
    text-align: center;    
    color:cyan;
    font-family: 'Kanit', sans-serif;  
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    font-size:xx-large;
    margin:0;
    line-height: 30px;
}

h2{
    color:black;
    font-size: large;
    font-family: 'Gill Sans MT';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    font-style: initial;
    text-align: center;
}

#p-2{
    border: solid green 1px;
    background-color: blue;
    color:cyan;
    font-size: large;
    font-family: Cambria;
    text-align: center;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}
#p-3{
    color: black;
    font-size: small;
    font-family:Arial;
}
#p-4{
    color:black;
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#p-6{
    color:black;
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.i-1{
    height: 50px;
    width: 10%;
    padding-left: 1px;
}
#h-2{
    color: white;
    text-align: center;
    font-size: x-large;
    border-top: red solid 2px;
}
#logo{
    width: 15%;
    height: 80px;
}
#logo img{
    width: 100%;
}
header{
    background-color: #2196F3;
    margin: 0;
    padding:1px 1px 1px 1px;
    
    width: 100%;
    position: fixed;
    z-index: 100;
}
ul{
    list-style: none;
    margin: 0;
    color:aqua;
}
li{
    float: left;
    padding: 25px 15px 15px 15px;
       
}
li:hover{
    background-color: #b33939;
}
.a1{
    text-decoration: none;
    color:whitesmoke;
    text-shadow: none;
    font-size: 20px;
    font-family:serif;
    border:oldlace solid 2px;
    padding: 5px 10px;
}
#a2{
    font-family:Arial, Helvetica, sans-serif;
}
#a2:hover{
    background-color:black  ;
    color:deepskyblue;
}
#menu{
    float: right;
    margin: auto;
    height: 60px;
}
footer{
    background-color:#FF5722;
}
#conta{
    text-align: center;
    font-weight: bolder;
}
#se-2{
    background: url("imagens/fundos/fundo.png");
    color: darkgray;
    height: 560px;
    background-size: cover;
    margin-top: 0;
    padding:200px 150px 0;
    box-sizing: border-box;
} 
h3{
    text-align: center;
}
/*Corpo1*/  
#cont{
    margin: 0;
    background-color:#a5b1c2;
}
#projeto {
    line-height: 2;
    
}
/*
#videos{
    height: 300px;   
}
*/
.p-1{
    color: black;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-style: initial;
    
}
.just{
    text-align: justify;
}
.colum{
    float: left;
    padding: 1%;
}
.colum2{
    width: 45%;
    margin: 0 1% 1% 1%;
}
.colum3{
    width: 26%;
    margin: 0 1%;
}
.colum4{
    width: 18%;
    margin: 0 2.2%;
}

/*Corpo1END*/

#cont2{
    margin: 0;
    background-color:rgb(196, 196, 196);
}
#vantagem{
    width: 100%;
    line-height: 3;
}
.img1{
    width: 45%;
    height: 315px;
    text-align: center;
}
#pa-1{
    color: black;
    font-size: small;
    font-family:Arial;
    font-style: initial;
    
}
.v-1{
    color:black;
    font-size: x-large;
    font-family: 'Amethysta', serif;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    font-style: initial;
    text-align: center;

}

#contri{
    background-color: white;

}
#conme{

    line-height: 3;
}


#projetos{
    background-color:rgb(196, 196, 196);
}
#proj{
    line-height: 3;
}
#proj2{
    line-height: 3;
}
#video{
    float: left;
    padding: 1%;   
}
#video2{
    float: right;
    padding: 1%;
}
#movie{
    float: right;
    padding: 1%;
}
/* Responsividade*/
@media screen and(max-width:800px){

}