body{
    border: solid white 1px;
    /*background-image: url("fundo.png");*/
    background-attachment: fixed;
}
h1{
    border: solid green 1px;
    text-align: center;    
    color: cyan;
    font-family: Cambria;
    background-color: blue;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    font-size:large;
}
h2{
    color:black;
    font-size: large;
    font-family: Cambria;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;

}
#p-1{
    color: black;
    font-size: small;
    font-family: Arial;
}
#p-2{
    border: solid green 1px;
    background-color: blue;
    color:cyan;
    font-size: large;
    font-family: Cambria;
    text-align: center;
}
#p-3{
    color: black;
    font-size: small;
    font-family: Arial;
}
#p-4{
    color:black;
    font-size: x-large;
}
img{
    height: 400px;
    width: 600px;
    padding: 1px;
}
.i-1{
    height: 50px;
    width: 70px;
    padding-left: 1px;
}
.i-2{
    height: 50px;
    width: 70px;
    padding-left: 1px;
}
.i-3{
    height: 50px;
    width: 70px;
    padding-left: 1px;
}
.i-4{
    height: 50px;
    width: 70px;
    padding-left: 1px;
}

