/*body{
    border: solid red 1px;
}*/ 
h1{
    border: solid red 1px;
    text-align: center;    
    color: blue;
}
p{
    color:black;
    text-align: center;

}
h2{
    color: green;
    border: solid white 2px;
}
img{
    height: 600px;
    width: 600px;
}
