body{
    border: solid white 1px;
}
h1{
    border: solid green 1px;
    text-align: center;    
    color: cyan;
    font-family: Cambria;
    background-color: blue;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}
h2{
    color:black;
    font-size: large;
    font-family: Times New Roman;
    padding: 1px 2px 3px;
    padding-left: 10px;
    padding-right: 10px;

}
#p-1{
    color: black;
    font-size: small;
    font-family: Arial;
}
#p-2{
    border: solid green 1px;
    background-color: blue;
    color:cyan;
    font-size: large;
    font-family: Times New Roman;
    text-align: center;
}
#p-3{
    color: black;
    font-size: small;
    font-family: Arial;
}
#p-4{
    color:black;
    font-size: x-large;
}
img{
    height: 400px;
    width: 600px;
    padding: 1px;
}
