body{
    border: solid white 1px;
}
h1{
    border: solid green 1px;
    text-align: center;    
    color: cyan;
    font-family: Cambria;
    background-color: blue;
}
p{
    color:black;
    font-size: large;
    font-family: Times New Roman;

}
#p-1{
    color: black;
    font-size: small;
    font-family: Arial;
}
#p-2{
    border: solid green 1px;
    background-color: blue;
    color:cyan;
    font-size: large;
    font-family: Times New Roman;
    text-align: center;
}
#p-3{
    color: black;
    font-size: small;
    font-family: Arial;
}
#p-4{
    color:black;
    font-size: x-large;
}
img{
    height: 400px;
    width: 600px;
}
